<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="NDiasModificacaoSQL" value="2"/>
    <add key="connectionString" value="Data Source=[servidor];Database=[banco];Application Name=SqlExporter;Trusted_Connection=True;"/>
    <add key="LocalScript" value="C:\Projetos\Sql\[servidor]\[banco]\[tipo]\[proprietario].[nome].sql"/>
    <add key="ServidorSQL" value="server01\instancia01;server01\instancia02;server02"/>
    <add key="BancoSQL" value="Banco01;Banco02;BancoN"/>
    <add key ="HorarioExecucaoExportacaoSQL" value="22:00:00"/>
    <!-- GIT-->
    <add key="comandoGIT" value="C:\Program Files (x86)\Git\cmd\git.exe"/>
    <add key="repositorioGIT" value="C:\Projetos\Sql"/>
  </appSettings>
</configuration>
