<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logfile"
            xsi:type="File"
            fileName="logs/SqlExporter.log"
            maxArchiveFiles="14"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            encoding="utf-8"
            archiveFileName="logs/{#}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${threadid} | ${message} | ${exception:format=@:innerFormat=@:maxInnerExceptionLevel=10}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>